<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title></title>
    <style media="screen">
      body {
        padding: 50px;
        font: 16px Helvetica, Arial;
      }
    </style>
  </head>
  <body>
    
  <% if (USERNAME) { %>
    <h2>Hello <%= USERNAME %>
    </h2>
    <% } %>
    <h1>'Wahoo! restricted area, click to <a href="/logout">logout</a>'</h1>
  
  </body>
</html>
